@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

:root {
  box-sizing: border-box;
  --primary-color: steelblue;
  --dark-color: rgb(51,51,51);
  --light-color: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, .8); 
}

*, *::after, *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
}
